<!DOCTYPE HTML>
<html>
<header>
    <title>BPK-DX - Home</title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css">
    <style>
        body {
            margin: 20px 20px;
        }
        .icon {
            margin: 0px 0px !important;
        }
    </style>
</header>

<body>
    <div class="content">
        <h1>Welcome to BPK-DX app</h1>
        <h2>Select Menu</h2>
        <a class="button is-primary has-icon-left" href="/employee/">
            <span class="icon is-left">
                <i class="fas fa-th-list"></i>
            </span>
            <p>Employees List</p>
        </a>
    </div>
</body>

</html>